*.pyc
*.swp
examples/*.png
examples/Frames
examples/*.mp4
examples/Outputs
*.so

# Ignore latex-related files
*.synctex.gz
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.out
